@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&family=Sriracha&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  /* https://css-tricks.com/almanac/properties/s/scroll-padding/ */
}

img {
  max-width: 100%;
}

body {
  font-family: "Prompt", sans-serif;
  word-wrap: break-word; /* for link in footer */
}

header,
footer {
  background-color: teal;
}

header {
  padding: 5% 5%;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

main {
  display: grid;
  /* max-width: 960px; */
  grid-gap: 2rem;
}

#main-nav ul {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  list-style-type: none;
}

#main-nav li {
  margin-right: 18px;
}

#main-nav li + li:before {
  content: ">";
  margin-right: 15px;
}

.cat-nav {
  position: sticky;
  top: 0;
}

.cat-nav,
[id^="letter-"] h2 {
  text-transform: uppercase;
}

[id^="letter-"] li::marker {
  color: red;
  padding: 10px;
}

ul,
[id^="letter-"] ol {
  list-style-position: inside;
}

.body-categories .cat-nav ul {
  list-style-type: none;
  background: hotpink;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr)); */
  width: 100%;
  display: flex;
  padding-left: 5vw;
  flex-wrap: wrap;
  justify-content: space-around;
  /* gap: 10px; */
  justify-content: flex-start;
}

.body-categories .cat-nav li {
  width: 30px;
}

section#letter-a {
  margin-top: 40px;
}

/* .body-categories main {
  margin-top: 20px;
} */

.body-productlist main {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /*grid-template-rows: 1fr; /* lacj  height??*/
  /* grid-auto-rows: 1fr; lacj: same height? */
  grid-template-rows: 1fr; /* Same height ! */
}

/* .body-productlist article.sold-out {
} lacj - del*/

h1,
h2,
h3,
h4 {
  font-family: "Sriracha", cursive;
}

h1 span {
  display: inline-block;
  color: red;
  transform: translateY(-200px);
}

h1 span:first-child {
  animation: anim-r-in-header 800ms ease 600ms forwards;
}

@keyframes anim-r-in-header {
  0% {
    transform: translateY(-200px) scaleX(2) rotate(360deg);
  }
  100% {
    transform: translateY(0) scaleX(-1) rotate(-30deg);
  }
}

h1 span:last-child {
  animation: anim-2-in-header 800ms ease 1000ms forwards;
}

@keyframes anim-2-in-header {
  0% {
    transform: translateY(-200px) scaleX(2) rotate(30deg);
  }
  100% {
    transform: translateY(0) scaleX(1) rotate(360deg);
  }
}

/* .styledesc {
  font-weight: bold;
} */

footer {
  margin: 2rem 0 0 0;
  padding: 2rem;
  width: 100vw;
  /* position: fixed;
  bottom: 0; */
}

main a {
  text-decoration: none;
  color: black;
}

.top {
  position: fixed;
  bottom: 5vmin;
  right: 5vmin;
}

a:hover {
  color: greenyellow;
}

.body-categories a:hover {
  background-color: black;
}

/* main a article {
  transition: background-color 0.6s;
} */

.body-productlist main a:hover {
  color: black;
}

.body-productlist main a:hover article {
  background-color: greenyellow;
  transition: background-color 0.6s;
}

article {
  height: 100%; /* lacj same height boxes */
  background: silver;
}

.sold-out {
  background-color: rgba(209, 35, 35, 0.5);
  /* width: 100vw;
  height: 100vh;
  position: fixed; */
  z-index: 1000;
  pointer-events: none;
}

article.sold-out {
  position: relative;
}

.sold-out::before {
  content: "sold out";
  position: absolute;
  padding: 1rem;
  background: rgba(202, 29, 29, 0.5);
  opacity: 1;
  left: 0;
  bottom: 0;
  width: calc(100% - 2rem);
  text-align: right;
}

.sold-out img {
  mix-blend-mode: multiply;
}

/* .wrapper.sold-out {
  position: relative;
} */

.sold-out > p:first-child {
  font-size: 17vw;
  padding: 6vw;
  background-color: red;
  position: absolute;
  transform: translateY(calc(50vh - 50%)) translateX(calc(50vw - 50%))
    rotate(30deg);
}

button {
  background-color: yellowgreen;
  font-size: 2rem;
  width: 80%;
  margin: 1rem auto;
  border: 5px hotpink dashed;
  border-radius: 50%;
  padding: 2rem;
  transition: 0.2s;
  cursor: pointer;
  display: block;
}

button span {
  display: block;
}

button:hover {
  border-radius: 0;
  transform: rotate(-15deg);
}

button:focus {
  outline: none;
}

button:active {
  transform: rotate(375deg) scale(2.5);
  background-color: greenyellow;
}

.price-box {
  /* background: hotpink; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: baseline;
}

.price-old,
.price-discount {
  display: none;
}

.onsale > * {
  display: initial;
}

.onsale .price-old {
  text-decoration: line-through;
}

.center {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-gap: 10px;
  padding: 10px;
}

.body-productlist .center h2 {
  grid-column: 1 / -1;
}

/* lacjCU
.body-single-product .center {
  grid-template-columns: 1fr 1fr;
} */

.center img {
  mix-blend-mode: multiply;
}

.no-pointer-events {
  pointer-events: none;
}
/* .no-pointer-events:hover {
  cursor: not-allowed; haha - not working, since no-pointer-events
} */

@media screen and (min-width: 680px) {
  /* body {
    background-color: blue;
  } */

  #wrapper {
    max-width: 960px;
  }

  /* #main-nav ul {
    flex-direction: row;
  } */

  .body-single-product main {
    grid-template-columns: 1fr 1fr;
  }

  main h2,
  button + p,
  button:last-of-type {
    grid-column: 1 / -1;
  }

  button + p {
    margin-top: 2rem;
    /* background: red; */
  }
}
